In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.float_format = '{:.5f}'.format

In [3]:
traind = pd.read_csv('train.csv')

In [4]:
traind

,UID,주거 형태,연간 소득,현재 직장 근속 연수,체납 세금 압류 횟수,개설된 신용계좌 수,신용 거래 연수,최대 신용한도,신용 문제 발생 횟수,마지막 연체 이후 경과 개월 수,개인 파산 횟수,대출 목적,대출 상환 기간,현재 대출 잔액,현재 미상환 신용액,월 상환 부채액,신용 점수,채무 불이행 여부
0,TRAIN_00000,자가,1941337.50000,10년 이상,0.00000,9,13.40000,400597.50000,0,24,1,부채 통합,단기 상환,390903.00000,225457.50000,8806.50000,767,0
1,TRAIN_00001,월세,1979505.00000,10년 이상,0.00000,5,15.10000,360679.50000,0,11,0,부채 통합,단기 상환,1002184.50000,64749.00000,24961.50000,767,0
2,TRAIN_00002,월세,1356381.00000,4년,0.00000,12,18.80000,491770.50000,1,74,3,부채 통합,단기 상환,227775.00000,487644.00000,12069.00000,800,1
3,TRAIN_00003,월세,1049017.50000,6년,0.00000,15,14.80000,411546.00000,1,22,1,부채 통합,단기 상환,251383.50000,413211.00000,31749.00000,796,1
4,TRAIN_00004,월세,4320217.50000,2년,0.00000,11,26.10000,895288.50000,0,32,0,부채 통합,장기 상환,1163176.50000,78991.50000,5862.00000,751,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,TRAIN_09995,주택 담보 대출 (거주 중),1339473.00000,10년 이상,0.00000,9,18.70000,319027.50000,0,68,0,부채 통합,단기 상환,126216.00000,177028.50000,6237.00000,755,0
9996,TRAIN_09996,주택 담보 대출 (거주 중),2297230.50000,2년,0.00000,11,28.30000,399799.50000,0,7,0,주택 개보수,장기 상환,371907.00000,347449.50000,53301.00000,707,0
9997,TRAIN_09997,주택 담보 대출 (거주 중),1221523.50000,10년 이상,0.00000,9,30.10000,823305.00000,0,14,0,부채 통합,장기 상환,869736.00000,176905.50000,11436.00000,733,0
9998,TRAIN_09998,자가,3343584.00000,10년 이상,0.00000,10,20.30000,724314.00000,0,25,0,부채 통합,단기 상환,443008.50000,139294.50000,25567.50000,696,0
9999,TRAIN_09999,주택 담보 대출 (거주 중),2175133.50000,5년,0.00000,5,24.90000,52999.50000,0,9,0,주택 개보수,장기 상환,1152918.00000,106930.50000,12676.50000,676,0

데이터를 확인했을 때 주거형태, 근속연수, 대출목적, 상환기관은 바꿀 필요가 있어 보인다.

In [5]:
traind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   UID                10000 non-null  object
 1   주거 형태              10000 non-null  object
 2   연간 소득              10000 non-null  float64
 3   현재 직장 근속 연수        10000 non-null  object
 4   체납 세금 압류 횟수        10000 non-null  float64
 5   개설된 신용계좌 수         10000 non-null  int64
 6   신용 거래 연수           10000 non-null  float64
 7   최대 신용한도            10000 non-null  float64
 8   신용 문제 발생 횟수        10000 non-null  int64
 9   마지막 연체 이후 경과 개월 수  10000 non-null  int64
 10  개인 파산 횟수           10000 non-null  int64
 11  대출 목적              10000 non-null  object
 12  대출 상환 기간           10000 non-null  object
 13  현재 대출 잔액           10000 non-null  float64
 14  현재 미상환 신용액         10000 non-null  float64
 15  월 상환 부채액           10000 non-null  float64
 16  신용 점수              10000 non-null  int64
 17  채무 불이행 여부          10000 non-null  int64
dtypes: float64(7), int64(6), object(5)
memory usage: 1.4+ MB

info를 확인했을 때 na가 없어 보인다. 또한 데이터타입이 object인 것들도 확인. UID의 경우 따로 변경할 필요가 없음.

In [6]:
traind.isna().sum()

UID                  0
주거 형태                0
연간 소득                0
현재 직장 근속 연수          0
체납 세금 압류 횟수          0
개설된 신용계좌 수           0
신용 거래 연수             0
최대 신용한도              0
신용 문제 발생 횟수          0
마지막 연체 이후 경과 개월 수    0
개인 파산 횟수             0
대출 목적                0
대출 상환 기간             0
현재 대출 잔액             0
현재 미상환 신용액           0
월 상환 부채액             0
신용 점수                0
채무 불이행 여부            0
dtype: int64

In [7]:
traind['주거 형태'].unique()

array(['자가', '월세', '주택 담보 대출 (거주 중)', '주택 담보 대출 (비거주 중)'], dtype=object)

In [8]:
traind['현재 직장 근속 연수'].unique()

array(['10년 이상', '4년', '6년', '2년', '8년', '3년', '5년', '9년', '7년', '1년 미만',
       '1년'], dtype=object)

In [9]:
traind['대출 목적'].unique()

array(['부채 통합', '자동차 구매', '기타', '사업 대출', '주택 개보수', '여행 자금', '소규모 사업 자금',
       '교육비', '의료비', '고액 구매', '결혼 자금', '휴가 비용', '주택 구매', '이사 비용'],
      dtype=object)

In [10]:
traind['대출 상환 기간'].unique()

array(['단기 상환', '장기 상환'], dtype=object)

데이터타입이 object인 변수들이 어떤 값이 있는지 확인해봤다.\
대출 목적, 주거 형태인 경우 라벨인코딩 했을 경우 모델링 할 때 문제가 생길거같다.

In [11]:
traind.columns

Index(['UID', '주거 형태', '연간 소득', '현재 직장 근속 연수', '체납 세금 압류 횟수', '개설된 신용계좌 수',
       '신용 거래 연수', '최대 신용한도', '신용 문제 발생 횟수', '마지막 연체 이후 경과 개월 수', '개인 파산 횟수',
       '대출 목적', '대출 상환 기간', '현재 대출 잔액', '현재 미상환 신용액', '월 상환 부채액', '신용 점수',
       '채무 불이행 여부'],
      dtype='object')

In [12]:
train_num = traind[['연간 소득', '체납 세금 압류 횟수', '개설된 신용계좌 수', '신용 거래 연수', '최대 신용한도', '신용 문제 발생 횟수', '마지막 연체 이후 경과 개월 수', '개인 파산 횟수', '현재 대출 잔액', '현재 미상환 신용액', '월 상환 부채액', '신용 점수',
       '채무 불이행 여부']]

In [13]:
train_num

,연간 소득,체납 세금 압류 횟수,개설된 신용계좌 수,신용 거래 연수,최대 신용한도,신용 문제 발생 횟수,마지막 연체 이후 경과 개월 수,개인 파산 횟수,현재 대출 잔액,현재 미상환 신용액,월 상환 부채액,신용 점수,채무 불이행 여부
0,1941337.50000,0.00000,9,13.40000,400597.50000,0,24,1,390903.00000,225457.50000,8806.50000,767,0
1,1979505.00000,0.00000,5,15.10000,360679.50000,0,11,0,1002184.50000,64749.00000,24961.50000,767,0
2,1356381.00000,0.00000,12,18.80000,491770.50000,1,74,3,227775.00000,487644.00000,12069.00000,800,1
3,1049017.50000,0.00000,15,14.80000,411546.00000,1,22,1,251383.50000,413211.00000,31749.00000,796,1
4,4320217.50000,0.00000,11,26.10000,895288.50000,0,32,0,1163176.50000,78991.50000,5862.00000,751,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1339473.00000,0.00000,9,18.70000,319027.50000,0,68,0,126216.00000,177028.50000,6237.00000,755,0
9996,2297230.50000,0.00000,11,28.30000,399799.50000,0,7,0,371907.00000,347449.50000,53301.00000,707,0
9997,1221523.50000,0.00000,9,30.10000,823305.00000,0,14,0,869736.00000,176905.50000,11436.00000,733,0
9998,3343584.00000,0.00000,10,20.30000,724314.00000,0,25,0,443008.50000,139294.50000,25567.50000,696,0
9999,2175133.50000,0.00000,5,24.90000,52999.50000,0,9,0,1152918.00000,106930.50000,12676.50000,676,0

In [14]:
num_corr = train_num.corr()

In [15]:
num_corr

,연간 소득,체납 세금 압류 횟수,개설된 신용계좌 수,신용 거래 연수,최대 신용한도,신용 문제 발생 횟수,마지막 연체 이후 경과 개월 수,개인 파산 횟수,현재 대출 잔액,현재 미상환 신용액,월 상환 부채액,신용 점수,채무 불이행 여부
연간 소득,1.00000,0.09011,0.20156,0.30890,0.37792,0.05568,-0.06539,-0.01734,0.40332,0.33692,0.41663,0.04549,-0.12050
체납 세금 압류 횟수,0.09011,1.00000,0.01327,0.09049,-0.03161,0.51027,0.13239,0.22504,0.10932,-0.06990,0.02261,-0.00715,-0.03042
개설된 신용계좌 수,0.20156,0.01327,1.00000,0.13998,0.27173,0.06667,-0.04385,0.13870,0.16838,0.25022,0.29218,0.07961,0.16990
신용 거래 연수,0.30890,0.09049,0.13998,1.00000,0.27528,0.12811,-0.04834,0.13362,0.23353,0.18689,0.23262,0.11642,-0.10886
최대 신용한도,0.37792,-0.03161,0.27173,0.27528,1.00000,-0.09289,-0.11955,-0.11628,0.36126,0.39210,0.37935,0.04976,-0.04500
신용 문제 발생 횟수,0.05568,0.51027,0.06667,0.12811,-0.09289,1.00000,0.22721,0.60012,0.01706,-0.09304,-0.02460,0.06553,0.04485
마지막 연체 이후 경과 개월 수,-0.06539,0.13239,-0.04385,-0.04834,-0.11955,0.22721,1.00000,0.24391,-0.14413,-0.10023,-0.11703,0.11209,-0.01206
개인 파산 횟수,-0.01734,0.22504,0.13870,0.13362,-0.11628,0.60012,0.24391,1.00000,-0.08571,-0.08201,-0.06500,0.09323,0.11590
현재 대출 잔액,0.40332,0.10932,0.16838,0.23353,0.36126,0.01706,-0.14413,-0.08571,1.00000,0.30591,0.38348,-0.16212,-0.03305
현재 미상환 신용액,0.33692,-0.06990,0.25022,0.18689,0.39210,-0.09304,-0.10023,-0.08201,0.30591,1.00000,0.37807,0.08523,-0.00005
월 상환 부채액,0.41663,0.02261,0.29218,0.23262,0.37935,-0.02460,-0.11703,-0.06500,0.38348,0.37807,1.00000,0.04189,-0.02013
신용 점수,0.04549,-0.00715,0.07961,0.11642,0.04976,0.06553,0.11209,0.09323,-0.16212,0.08523,0.04189,1.00000,-0.09578
채무 불이행 여부,-0.12050,-0.03042,0.16990,-0.10886,-0.04500,0.04485,-0.01206,0.11590,-0.03305,-0.00005,-0.02013,-0.09578,1.00000

In [16]:
traind['채무 불이행 여부'].unique()

array([0, 1], dtype=int64)

채무불이행 여부는 이진분류라 상관계수를 보는 건 큰 의미가 없는거같다.\
또한 각각의 변수들의 상관계수도 크지 않다.\
이상치제거 같은 가공을 안해서 그런걸 수도 있다.

IQR을 활용해서 이상치를 제거

In [17]:
train_num.columns

Index(['연간 소득', '체납 세금 압류 횟수', '개설된 신용계좌 수', '신용 거래 연수', '최대 신용한도',
       '신용 문제 발생 횟수', '마지막 연체 이후 경과 개월 수', '개인 파산 횟수', '현재 대출 잔액',
       '현재 미상환 신용액', '월 상환 부채액', '신용 점수', '채무 불이행 여부'],
      dtype='object')

In [18]:
train_num_iqr = train_num[['연간 소득', '체납 세금 압류 횟수', '개설된 신용계좌 수', '신용 거래 연수', '최대 신용한도',
       '신용 문제 발생 횟수', '마지막 연체 이후 경과 개월 수', '개인 파산 횟수', '현재 대출 잔액',
       '현재 미상환 신용액', '월 상환 부채액', '신용 점수']]

In [19]:
train_num_iqr

,연간 소득,체납 세금 압류 횟수,개설된 신용계좌 수,신용 거래 연수,최대 신용한도,신용 문제 발생 횟수,마지막 연체 이후 경과 개월 수,개인 파산 횟수,현재 대출 잔액,현재 미상환 신용액,월 상환 부채액,신용 점수
0,1941337.50000,0.00000,9,13.40000,400597.50000,0,24,1,390903.00000,225457.50000,8806.50000,767
1,1979505.00000,0.00000,5,15.10000,360679.50000,0,11,0,1002184.50000,64749.00000,24961.50000,767
2,1356381.00000,0.00000,12,18.80000,491770.50000,1,74,3,227775.00000,487644.00000,12069.00000,800
3,1049017.50000,0.00000,15,14.80000,411546.00000,1,22,1,251383.50000,413211.00000,31749.00000,796
4,4320217.50000,0.00000,11,26.10000,895288.50000,0,32,0,1163176.50000,78991.50000,5862.00000,751
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1339473.00000,0.00000,9,18.70000,319027.50000,0,68,0,126216.00000,177028.50000,6237.00000,755
9996,2297230.50000,0.00000,11,28.30000,399799.50000,0,7,0,371907.00000,347449.50000,53301.00000,707
9997,1221523.50000,0.00000,9,30.10000,823305.00000,0,14,0,869736.00000,176905.50000,11436.00000,733
9998,3343584.00000,0.00000,10,20.30000,724314.00000,0,25,0,443008.50000,139294.50000,25567.50000,696
9999,2175133.50000,0.00000,5,24.90000,52999.50000,0,9,0,1152918.00000,106930.50000,12676.50000,676

In [20]:
train_num_iqr.describe()

,연간 소득,체납 세금 압류 횟수,개설된 신용계좌 수,신용 거래 연수,최대 신용한도,신용 문제 발생 횟수,마지막 연체 이후 경과 개월 수,개인 파산 횟수,현재 대출 잔액,현재 미상환 신용액,월 상환 부채액,신용 점수
count,10000.00000,10000.00000,10000.00000,10000.00000,10000.00000,10000.00000,10000.00000,10000.00000,10000.00000,10000.00000,10000.00000,10000.00000
mean,2163958.88415,0.19930,12.24890,19.87936,1175264.73780,0.62620,30.88920,0.37320,506120.00040,364912.61760,22367.28075,744.21500
std,1434429.68196,0.71430,4.62057,7.20669,1604199.21520,1.23419,20.01156,0.84380,283146.23273,353794.16067,15186.49738,56.99570
min,267621.00000,0.00000,2.00000,6.00000,0.00000,0.00000,0.00000,0.00000,29176.50000,0.00000,0.00000,502.00000
25%,1311437.25000,0.00000,9.00000,14.60000,448247.62500,0.00000,14.00000,0.00000,300190.12500,147185.62500,10893.75000,704.00000
50%,1743222.75000,0.00000,12.00000,17.95000,767091.00000,0.00000,28.00000,0.00000,474341.25000,254793.00000,20160.00000,756.00000
75%,2447664.00000,0.00000,15.00000,24.10000,1147282.87500,1.00000,41.00000,0.00000,591907.87500,474918.00000,30647.25000,793.00000
max,17229747.00000,7.00000,35.00000,51.70000,23232333.00000,7.00000,88.00000,3.00000,1373613.00000,3946300.50000,153574.50000,825.00000

In [21]:
cols = train_num_iqr.columns
num_cols = len(cols)
num_cols

12

In [22]:
train_num_iqr.loc[2]

연간 소득               1356381.00000
체납 세금 압류 횟수               0.00000
개설된 신용계좌 수               12.00000
신용 거래 연수                 18.80000
최대 신용한도              491770.50000
신용 문제 발생 횟수               1.00000
마지막 연체 이후 경과 개월 수        74.00000
개인 파산 횟수                  3.00000
현재 대출 잔액             227775.00000
현재 미상환 신용액           487644.00000
월 상환 부채액              12069.00000
신용 점수                   800.00000
Name: 2, dtype: float64

In [23]:
from deloutlier import DelOutlier
train_nooutlier = DelOutlier(train_num_iqr)
train_nooutlier

,연간 소득,체납 세금 압류 횟수,개설된 신용계좌 수,신용 거래 연수,최대 신용한도,신용 문제 발생 횟수,마지막 연체 이후 경과 개월 수,개인 파산 횟수,현재 대출 잔액,현재 미상환 신용액,월 상환 부채액,신용 점수
7,1410700.50000,0.00000,8,24.40000,692352.00000,0,19,0,479349.00000,154974.00000,16842.00000,807
8,1636863.00000,0.00000,9,9.80000,154429.50000,0,11,0,370210.50000,11943.00000,28818.00000,713
9,1644226.50000,0.00000,6,12.70000,511518.00000,0,29,0,187140.00000,122344.50000,5214.00000,793
11,922128.00000,0.00000,10,12.00000,501057.00000,0,35,0,437772.00000,224521.50000,9145.50000,787
15,1652191.50000,0.00000,16,12.60000,672975.00000,0,41,0,402087.00000,397474.50000,16758.00000,749
...,...,...,...,...,...,...,...,...,...,...,...,...
9981,1696671.00000,0.00000,7,17.50000,94999.50000,0,13,0,187966.50000,120073.50000,9637.50000,767
9984,1220230.50000,0.00000,11,8.40000,644740.50000,0,8,0,213372.00000,194671.50000,9112.50000,798
9992,1327737.00000,0.00000,10,14.20000,100882.50000,0,32,0,480877.50000,141427.50000,8163.00000,649
9995,1339473.00000,0.00000,9,18.70000,319027.50000,0,68,0,126216.00000,177028.50000,6237.00000,755
9998,3343584.00000,0.00000,10,20.30000,724314.00000,0,25,0,443008.50000,139294.50000,25567.50000,696

In [24]:
train_nooutlier.describe()

,연간 소득,체납 세금 압류 횟수,개설된 신용계좌 수,신용 거래 연수,최대 신용한도,신용 문제 발생 횟수,마지막 연체 이후 경과 개월 수,개인 파산 횟수,현재 대출 잔액,현재 미상환 신용액,월 상환 부채액,신용 점수
count,3947.00000,3947.00000,3947.00000,3947.00000,3947.00000,3947.00000,3947.00000,3947.00000,3947.00000,3947.00000,3947.00000,3947.00000
mean,1527517.19673,0.00000,10.65442,16.96656,624357.51799,0.12719,26.68128,0.00000,389068.42399,253323.50621,16523.96200,741.68508
std,564120.39611,0.00000,3.27892,5.08901,368889.18052,0.37610,16.92621,0.00000,178208.44535,166268.73676,9621.44400,49.38404
min,267621.00000,0.00000,4.00000,6.00000,0.00000,0.00000,0.00000,0.00000,29176.50000,0.00000,0.00000,605.00000
25%,1118016.75000,0.00000,8.00000,13.30000,345678.00000,0.00000,12.00000,0.00000,236837.25000,123093.00000,8910.00000,702.00000
50%,1432369.50000,0.00000,10.00000,15.90000,612885.00000,0.00000,25.00000,0.00000,383334.00000,210442.50000,14994.00000,751.00000
75%,1857059.25000,0.00000,13.00000,19.50000,891132.75000,0.00000,36.00000,0.00000,518306.25000,386074.50000,23859.00000,789.00000
max,3578305.50000,0.00000,19.00000,30.90000,1593558.00000,2.00000,68.00000,0.00000,833616.00000,707733.00000,40734.00000,818.00000

이상치를 제거한 후 describe로 어떻게 됐는지 살펴봤다.\
신용 문제 발생 횟수, 개인 파산 횟수 같이 이상치 제거를 안해줘도 될 변수들도 같이 제거됐다.\
이 경우를 해결해야 한다.