In [1]:
import pandas as pd
import numpy as np

In [2]:
traind = pd.read_csv('train.csv')

In [3]:
traind

,UID,주거 형태,연간 소득,현재 직장 근속 연수,체납 세금 압류 횟수,개설된 신용계좌 수,신용 거래 연수,최대 신용한도,신용 문제 발생 횟수,마지막 연체 이후 경과 개월 수,개인 파산 횟수,대출 목적,대출 상환 기간,현재 대출 잔액,현재 미상환 신용액,월 상환 부채액,신용 점수,채무 불이행 여부
0,TRAIN_00000,자가,1941337.5,10년 이상,0.0,9,13.4,400597.5,0,24,1,부채 통합,단기 상환,390903.0,225457.5,8806.5,767,0
1,TRAIN_00001,월세,1979505.0,10년 이상,0.0,5,15.1,360679.5,0,11,0,부채 통합,단기 상환,1002184.5,64749.0,24961.5,767,0
2,TRAIN_00002,월세,1356381.0,4년,0.0,12,18.8,491770.5,1,74,3,부채 통합,단기 상환,227775.0,487644.0,12069.0,800,1
3,TRAIN_00003,월세,1049017.5,6년,0.0,15,14.8,411546.0,1,22,1,부채 통합,단기 상환,251383.5,413211.0,31749.0,796,1
4,TRAIN_00004,월세,4320217.5,2년,0.0,11,26.1,895288.5,0,32,0,부채 통합,장기 상환,1163176.5,78991.5,5862.0,751,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,TRAIN_09995,주택 담보 대출 (거주 중),1339473.0,10년 이상,0.0,9,18.7,319027.5,0,68,0,부채 통합,단기 상환,126216.0,177028.5,6237.0,755,0
9996,TRAIN_09996,주택 담보 대출 (거주 중),2297230.5,2년,0.0,11,28.3,399799.5,0,7,0,주택 개보수,장기 상환,371907.0,347449.5,53301.0,707,0
9997,TRAIN_09997,주택 담보 대출 (거주 중),1221523.5,10년 이상,0.0,9,30.1,823305.0,0,14,0,부채 통합,장기 상환,869736.0,176905.5,11436.0,733,0
9998,TRAIN_09998,자가,3343584.0,10년 이상,0.0,10,20.3,724314.0,0,25,0,부채 통합,단기 상환,443008.5,139294.5,25567.5,696,0
9999,TRAIN_09999,주택 담보 대출 (거주 중),2175133.5,5년,0.0,5,24.9,52999.5,0,9,0,주택 개보수,장기 상환,1152918.0,106930.5,12676.5,676,0

데이터를 확인했을 때 주거형태, 근속연수, 대출목적, 상환기관은 바꿀 필요가 있어 보인다.

In [5]:
traind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   UID                10000 non-null  object
 1   주거 형태              10000 non-null  object
 2   연간 소득              10000 non-null  float64
 3   현재 직장 근속 연수        10000 non-null  object
 4   체납 세금 압류 횟수        10000 non-null  float64
 5   개설된 신용계좌 수         10000 non-null  int64
 6   신용 거래 연수           10000 non-null  float64
 7   최대 신용한도            10000 non-null  float64
 8   신용 문제 발생 횟수        10000 non-null  int64
 9   마지막 연체 이후 경과 개월 수  10000 non-null  int64
 10  개인 파산 횟수           10000 non-null  int64
 11  대출 목적              10000 non-null  object
 12  대출 상환 기간           10000 non-null  object
 13  현재 대출 잔액           10000 non-null  float64
 14  현재 미상환 신용액         10000 non-null  float64
 15  월 상환 부채액           10000 non-null  float64
 16  신용 점수              10000 non-null  int64
 17  채무 불이행 여부          10000 non-null  int64
dtypes: float64(7), int64(6), object(5)
memory usage: 1.4+ MB

info를 확인했을 때 na가 없어 보인다. 또한 데이터타입이 object인 것들도 확인. UID의 경우 따로 변경할 필요가 없음.

In [7]:
traind.isna().sum()

UID                  0
주거 형태                0
연간 소득                0
현재 직장 근속 연수          0
체납 세금 압류 횟수          0
개설된 신용계좌 수           0
신용 거래 연수             0
최대 신용한도              0
신용 문제 발생 횟수          0
마지막 연체 이후 경과 개월 수    0
개인 파산 횟수             0
대출 목적                0
대출 상환 기간             0
현재 대출 잔액             0
현재 미상환 신용액           0
월 상환 부채액             0
신용 점수                0
채무 불이행 여부            0
dtype: int64

In [8]:
traind['주거 형태'].unique()

array(['자가', '월세', '주택 담보 대출 (거주 중)', '주택 담보 대출 (비거주 중)'], dtype=object)

In [9]:
traind['현재 직장 근속 연수'].unique()

array(['10년 이상', '4년', '6년', '2년', '8년', '3년', '5년', '9년', '7년', '1년 미만',
       '1년'], dtype=object)

In [10]:
traind['대출 목적'].unique()

array(['부채 통합', '자동차 구매', '기타', '사업 대출', '주택 개보수', '여행 자금', '소규모 사업 자금',
       '교육비', '의료비', '고액 구매', '결혼 자금', '휴가 비용', '주택 구매', '이사 비용'],
      dtype=object)

In [11]:
traind['대출 상환 기간'].unique()

array(['단기 상환', '장기 상환'], dtype=object)

데이터타입이 object인 변수들이 어떤 값이 있는지 확인해봤다.\
대출 목적, 주거 형태인 경우 라벨인코딩 했을 경우 모델링 할 때 문제가 생길거같다.

In [13]:
traind.columns

Index(['UID', '주거 형태', '연간 소득', '현재 직장 근속 연수', '체납 세금 압류 횟수', '개설된 신용계좌 수',
       '신용 거래 연수', '최대 신용한도', '신용 문제 발생 횟수', '마지막 연체 이후 경과 개월 수', '개인 파산 횟수',
       '대출 목적', '대출 상환 기간', '현재 대출 잔액', '현재 미상환 신용액', '월 상환 부채액', '신용 점수',
       '채무 불이행 여부'],
      dtype='object')

In [14]:
train_num = traind[['연간 소득', '체납 세금 압류 횟수', '개설된 신용계좌 수', '신용 거래 연수', '최대 신용한도', '신용 문제 발생 횟수', '마지막 연체 이후 경과 개월 수', '개인 파산 횟수', '현재 대출 잔액', '현재 미상환 신용액', '월 상환 부채액', '신용 점수',
       '채무 불이행 여부']]

In [15]:
train_num

,연간 소득,체납 세금 압류 횟수,개설된 신용계좌 수,신용 거래 연수,최대 신용한도,신용 문제 발생 횟수,마지막 연체 이후 경과 개월 수,개인 파산 횟수,현재 대출 잔액,현재 미상환 신용액,월 상환 부채액,신용 점수,채무 불이행 여부
0,1941337.5,0.0,9,13.4,400597.5,0,24,1,390903.0,225457.5,8806.5,767,0
1,1979505.0,0.0,5,15.1,360679.5,0,11,0,1002184.5,64749.0,24961.5,767,0
2,1356381.0,0.0,12,18.8,491770.5,1,74,3,227775.0,487644.0,12069.0,800,1
3,1049017.5,0.0,15,14.8,411546.0,1,22,1,251383.5,413211.0,31749.0,796,1
4,4320217.5,0.0,11,26.1,895288.5,0,32,0,1163176.5,78991.5,5862.0,751,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1339473.0,0.0,9,18.7,319027.5,0,68,0,126216.0,177028.5,6237.0,755,0
9996,2297230.5,0.0,11,28.3,399799.5,0,7,0,371907.0,347449.5,53301.0,707,0
9997,1221523.5,0.0,9,30.1,823305.0,0,14,0,869736.0,176905.5,11436.0,733,0
9998,3343584.0,0.0,10,20.3,724314.0,0,25,0,443008.5,139294.5,25567.5,696,0
9999,2175133.5,0.0,5,24.9,52999.5,0,9,0,1152918.0,106930.5,12676.5,676,0

In [16]:
num_corr = train_num.corr()

In [17]:
num_corr

,연간 소득,체납 세금 압류 횟수,개설된 신용계좌 수,신용 거래 연수,최대 신용한도,신용 문제 발생 횟수,마지막 연체 이후 경과 개월 수,개인 파산 횟수,현재 대출 잔액,현재 미상환 신용액,월 상환 부채액,신용 점수,채무 불이행 여부
연간 소득,1.000000,0.090106,0.201558,0.308904,0.377923,0.055681,-0.065386,-0.017336,0.403319,0.336916,0.416631,0.045491,-0.120499
체납 세금 압류 횟수,0.090106,1.000000,0.013270,0.090488,-0.031614,0.510265,0.132386,0.225035,0.109320,-0.069903,0.022609,-0.007147,-0.030419
개설된 신용계좌 수,0.201558,0.013270,1.000000,0.139979,0.271732,0.066667,-0.043846,0.138699,0.168379,0.250217,0.292177,0.079615,0.169900
신용 거래 연수,0.308904,0.090488,0.139979,1.000000,0.275284,0.128106,-0.048344,0.133616,0.233531,0.186893,0.232618,0.116424,-0.108856
최대 신용한도,0.377923,-0.031614,0.271732,0.275284,1.000000,-0.092891,-0.119547,-0.116278,0.361259,0.392104,0.379351,0.049756,-0.044997
신용 문제 발생 횟수,0.055681,0.510265,0.066667,0.128106,-0.092891,1.000000,0.227206,0.600116,0.017065,-0.093040,-0.024605,0.065530,0.044847
마지막 연체 이후 경과 개월 수,-0.065386,0.132386,-0.043846,-0.048344,-0.119547,0.227206,1.000000,0.243908,-0.144126,-0.100230,-0.117031,0.112091,-0.012058
개인 파산 횟수,-0.017336,0.225035,0.138699,0.133616,-0.116278,0.600116,0.243908,1.000000,-0.085709,-0.082009,-0.065000,0.093226,0.115900
현재 대출 잔액,0.403319,0.109320,0.168379,0.233531,0.361259,0.017065,-0.144126,-0.085709,1.000000,0.305914,0.383477,-0.162117,-0.033052
현재 미상환 신용액,0.336916,-0.069903,0.250217,0.186893,0.392104,-0.093040,-0.100230,-0.082009,0.305914,1.000000,0.378072,0.085230,-0.000048
월 상환 부채액,0.416631,0.022609,0.292177,0.232618,0.379351,-0.024605,-0.117031,-0.065000,0.383477,0.378072,1.000000,0.041885,-0.020135
신용 점수,0.045491,-0.007147,0.079615,0.116424,0.049756,0.065530,0.112091,0.093226,-0.162117,0.085230,0.041885,1.000000,-0.095783
채무 불이행 여부,-0.120499,-0.030419,0.169900,-0.108856,-0.044997,0.044847,-0.012058,0.115900,-0.033052,-0.000048,-0.020135,-0.095783,1.000000